<tr>
    <th scope="row">Device UUID</th>
    <td>
        <%= uuid %>
    </td>
</tr>
<tr>
    <th scope="row">Device Type</th>
    <td>
        <%= deviceType %>
    </td>
</tr>
<tr>
    <th scope="row">Device Name</th>
    <td>
        <%= deviceName %>
    </td>
</tr>
<tr>
    <th scope="row">App ID</th>
    <td>
        <%= appId %>
    </td>
</tr>
<tr>
    <th scope="row">App Name</th>
    <td>
        <%= appName %>
    </td>
</tr>
<tr>
    <th scope="row">Supervisor Version</th>
    <td>
        <%= balenaSupervisorVersion %>
    </td>
</tr>
<tr>
    <th scope="row">OS Version</th>
    <td>
        <%= hostOSVersion %>
    </td>
</tr>