<tr>
    <th scope="row">OS Architecture</th>
    <td>
        <%= osArch %>
    </td>
</tr>
<tr>
    <th scope="row">OS Hostname</th>
    <td>
        <%= osHost %>
    </td>
</tr>
<tr>
    <th scope="row">OS Platform</th>
    <td>
        <%= osPlatform %>
    </td>
</tr>
<tr>
    <th scope="row">OS Release</th>
    <td>
        <%= osRelease %>
    </td>
</tr>
<tr>
    <th scope="row">OS Version</th>
    <td>
        <%= osVer %>
    </td>
</tr>